@using pruebas1.Components.DTOs
@using System;
@using System.Collections.Generic;
@using System.Linq;
@using System.Text;
@using System.Threading.Tasks;

<div class="overlay" style="display:@(Visible ? "flex" : "none")">
    <div class="alert-modal">
        <div class="header">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"
                 viewBox="0 0 24 24" fill="none" stroke="currentColor"
                 stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M7 18v-6a5 5 0 1 1 10 0v6" />
                <path d="M5 21a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2z" />
                <path d="M21 12h1" />
                <path d="M18.5 4.5 18 5" />
                <path d="M2 12h1" />
                <path d="M12 2v1" />
                <path d="m4.929 4.929.707.707" />
                <path d="M12 12v6" />
            </svg>

            <h3>Fecha u hora incorrecta</h3>
        </div>

        <p>La fecha u hora del equipo es incorrecta.</p>
        <p>Reinicie la aplicación, ajuste el reloj de su dispositivo y vuelva a ingresar al sistema.</p>

        <br />

        <p><b>Equipo:</b> @HoraSistema?.Sistema.ToString("dd/MM/yyyy")</p>
        <p><b>Real:</b> @HoraSistema?.Servidor.ToString("dd/MM/yyyy")</p>
    </div>
</div>

@code {
    [Parameter] public HoraSistemaDTO? HoraSistema { get; set; }
    [Parameter] public bool Visible { get; set; }
    [Parameter] public EventCallback OnClose { get; set; }

    private async Task Cerrar()
    {
        await OnClose.InvokeAsync();
    }
}
