.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.65);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    pointer-events: all;
}

.modal {
    background: white;
    padding: 30px;
    border-radius: 14px;
    width: 420px;
    text-align: center;
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

    .header svg {
        color: #d32f2f;
    }
